.navbar {
  padding: 0.5rem;
  justify-content: space-between;
}

.navbar__container--mobile {
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
}

.navbar__searchbars--desktop {
  width: 50vw;
  flex-direction: row;
}

/* Desktop Search & Select Double Bar Contents */
.navbar__searchbars--desktop * {
  /* width: 50%; */
}

/* Search Bar */
.inputgroup__prepend__text {
  padding: 6px 0px 6px 6px;
  background-color: white;
  border-radius: 0.25rem 0rem 0rem 0.25rem;
}
.iconContainer {
  padding: 0;
  margin: 0;
}
.navbar__search {
  border-color: white;
  border-width: 0;
  border-radius: 0;
}

/* Divider */
.inputgroup__divider {
  padding: 6px 2px 6px 2px;
  color: lightgray;
  background-color: white;
  border-radius: 0;
}

/* Select */

/* Mobile Breakpoints */
@media (max-width: 576px) {
  .navbar {
    flex-direction: column;
  }
}
